01.S7-Dashboard/S7-Dashboard.json
[{"id":"c9dc93b9.315938","type":"tab","label":"LOGO S7-ra  INPUT-ak","disabled":false,"info":""},{"id":"514120af.ffdfa8","type":"tab","label":"LOGO S7-aren OUTPUT-ak","disabled":false,"info":""},{"id":"4239f125.9b48f8","type":"tab","label":"OPC UA ZERBITZAILEA","disabled":false,"info":""},{"id":"b4f48751.cf3a3","type":"tab","label":"OPCUA-NODE RED Datuak","disabled":false,"info":""},{"id":"307b1c6a.3d959c","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.0.3","port":"102","rack":"0","slot":"2","localtsaphi":"02","localtsaplo":"00","remotetsaphi":"02","remotetsaplo":"00","connmode":"tsap","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"500","timeout":"1500","verbose":"default","name":"LOGO!","vartable":[{"addr":"I0.0","name":"I1    Pultsagailu Berdea"},{"addr":"I0.1","name":"I2    Pultsagailu Beltza"},{"addr":"I0.2","name":"I3    Esku/Auto etengailua"},{"addr":"I0.3","name":"I4    Emergentzia Perretxikua"},{"addr":"I0.4","name":"I5    Pultsagailu Gorria NC "},{"addr":"I0.5","name":"I6"},{"addr":"I0.6","name":"I7"},{"addr":"I0.7","name":"I8"},{"addr":"I1.0","name":"I9"},{"addr":"I1.1","name":"I10"},{"addr":"I1.2","name":"I11"},{"addr":"I1.3","name":"I12"},{"addr":"Q0.0","name":"Q1"},{"addr":"Q0.1","name":"Q2"},{"addr":"Q0.2","name":"Q3"},{"addr":"Q0.3","name":"Q4"},{"addr":"Q0.4","name":"Q5    Argi Berdea"},{"addr":"Q0.5","name":"Q6    Argi Gorria"},{"addr":"Q0.6","name":"Q7    Automatiko Argia"},{"addr":"Q0.7","name":"Q8"},{"addr":"M0.0","name":"M1    GRAFCET 1. Egoera"},{"addr":"M0.1","name":"M2   GRAFCET 2. Egoera "},{"addr":"M0.2","name":"M3   GRAFCET 3. Egoera "},{"addr":"M0.3","name":"M4 "},{"addr":"M0.4","name":"M5"},{"addr":"M0.5","name":"M6"},{"addr":"M0.6","name":"M7"},{"addr":"M0.7","name":"M8"},{"addr":"M1.0","name":"M9"},{"addr":"M1.1","name":"M10"},{"addr":"M1.2","name":"M11"},{"addr":"M1.3","name":"M12"},{"addr":"M1.4","name":"M13"},{"addr":"M1.5","name":"M14"},{"addr":"M1.6","name":"M15"},{"addr":"M1.7","name":"M16"},{"addr":"M2.0","name":"M17"},{"addr":"M2.1","name":"M18"},{"addr":"M2.2","name":"M19"},{"addr":"M2.3","name":"M20    Esku/Auto"},{"addr":"M2.4","name":"M21    Emergentzia"},{"addr":"M2.5","name":"M22"},{"addr":"M2.6","name":"M23"},{"addr":"M2.7","name":"M24"},{"addr":"M3.0","name":"M25"},{"addr":"M3.1","name":"M26"},{"addr":"M3.2","name":"M27"},{"addr":"M3.3","name":"M28"},{"addr":"M3.4","name":"M29"},{"addr":"M3.5","name":"M30"},{"addr":"M3.6","name":"M31"},{"addr":"M3.7","name":"M32"},{"addr":"M4.0","name":"M33"},{"addr":"M4.1","name":"M34"},{"addr":"M4.2","name":"M35"},{"addr":"M4.3","name":"M36"},{"addr":"M4.4","name":"M37"},{"addr":"M4.5","name":"M38"},{"addr":"M4.6","name":"M39"},{"addr":"M4.7","name":"M40"},{"addr":"M5.0","name":"M41    NodeRed Pultsagailua"},{"addr":"M5.1","name":"M42"},{"addr":"M5.2","name":"M43"},{"addr":"M5.3","name":"M44"},{"addr":"M5.4","name":"M45"},{"addr":"M5.5","name":"M46"},{"addr":"M5.6","name":"M47"},{"addr":"M5.7","name":"M48"},{"addr":"M6.0","name":"M49"},{"addr":"M6.1","name":"M50"},{"addr":"M6.2","name":"M51   NodeRed Esku/Auto"},{"addr":"M6.3","name":"M52   NodeRed Emergentzia"},{"addr":"M6.4","name":"M53"},{"addr":"M6.5","name":"M54"},{"addr":"M6.6","name":"M55"},{"addr":"M6.7","name":"M56"},{"addr":"M7.0","name":"M57"},{"addr":"M7.1","name":"M58"},{"addr":"M7.2","name":"M59"},{"addr":"M7.3","name":"M60"},{"addr":"M7.4","name":"M61"},{"addr":"M7.5","name":"M62"},{"addr":"M7.6","name":"M63"},{"addr":"M7.7","name":"M64"}]},{"id":"8afb7a1c.a96b98","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1935d781.efad78","type":"ui_tab","z":"","name":"LOGO S7-ra INPUT-ak","icon":"dashboard","disabled":false,"hidden":false},{"id":"e24cc1e4.7b1f1","type":"ui_group","z":"","name":"","tab":"1935d781.efad78","disp":true,"width":"6","collapse":false},{"id":"624a6cb0.237444","type":"ui_group","z":"","name":"LOGO S7-a eta Node Red","tab":"40295299.68a954","disp":true,"width":"6","collapse":false},{"id":"40295299.68a954","type":"ui_tab","z":"","name":"LOGO S7-aren OUTPUT-ak","icon":"dashboard","disabled":false,"hidden":false},{"id":"cf168c6c.8f5598","type":"OPCUA-IIoT-Connector","z":"4239f125.9b48f8","discoveryUrl":"","endpoint":"opc.tcp://localhost:55488/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL SERVER","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"a1f35911.3484d","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55488/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"Zerbitzari LOKALA","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"78b7b144.f9476","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL EVENT SERVER","showErrors":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":""},{"id":"451e9a4c.ddc5ac","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL DEMO SERVER","showErrors":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"60000","endpointMustExist":false,"autoSelectRightEndpoint":false},{"id":"4938ce29.1b701","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL DEMO SERVER","showErrors":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"60000","endpointMustExist":false,"autoSelectRightEndpoint":false},{"id":"4a029791.4ac1c","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL DEMO SERVER","showErrors":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"60000","endpointMustExist":false,"autoSelectRightEndpoint":false},{"id":"80daca58.457d5","type":"trigger","z":"c9dc93b9.315938","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"50","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":350,"y":140,"wires":[["c45e4400.9e08f"]]},{"id":"b77ab30d.6ac89","type":"ui_button","z":"c9dc93b9.315938","name":"Botoia ON","group":"e24cc1e4.7b1f1","order":0,"width":"6","height":"6","passthru":true,"label":"Botoia ON","tooltip":"","color":"","bgcolor":"","icon":"favorite","payload":"true","payloadType":"bool","topic":"","x":150,"y":140,"wires":[["80daca58.457d5"]]},{"id":"c45e4400.9e08f","type":"s7 out","z":"c9dc93b9.315938","endpoint":"307b1c6a.3d959c","variable":"M41    NodeRed Pultsagailua","name":"","x":580,"y":140,"wires":[]},{"id":"eed39639.a858e","type":"ui_text","z":"514120af.ffdfa8","group":"624a6cb0.237444","order":1,"width":0,"height":0,"name":"","label":"Berdea_1","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":140,"wires":[]},{"id":"46907803.4bfa","type":"s7 in","z":"514120af.ffdfa8","endpoint":"307b1c6a.3d959c","mode":"single","variable":"Q5    Argi Berdea","diff":true,"name":"","x":200,"y":140,"wires":[["eed39639.a858e","3d60ba41.70d686"]]},{"id":"7b349023.e44c48","type":"s7 in","z":"514120af.ffdfa8","endpoint":"307b1c6a.3d959c","mode":"single","variable":"Q6    Argi Gorria","diff":true,"name":"","x":200,"y":300,"wires":[["cbe63377.590c88","63693e3b.ccdf08"]]},{"id":"336961ad.0391ae","type":"s7 in","z":"514120af.ffdfa8","endpoint":"307b1c6a.3d959c","mode":"single","variable":"Q7    Automatiko Argia","diff":true,"name":"","x":220,"y":460,"wires":[["2fb37de3.3a7162","47c98f54.6746b8"]]},{"id":"cbe63377.590c88","type":"ui_text","z":"514120af.ffdfa8","group":"624a6cb0.237444","order":1,"width":0,"height":0,"name":"","label":"Gorria_1","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":300,"wires":[]},{"id":"2fb37de3.3a7162","type":"ui_text","z":"514120af.ffdfa8","group":"624a6cb0.237444","order":1,"width":0,"height":0,"name":"","label":"Gorria_2","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":460,"wires":[]},{"id":"2713e93d.77ce16","type":"ui_gauge","z":"514120af.ffdfa8","name":"Pultsazioak Berdea ","group":"624a6cb0.237444","order":4,"width":"4","height":"4","gtype":"gage","title":"Argi Berdea","label":"Pultsazioak","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"6000","x":630,"y":200,"wires":[]},{"id":"e79e9a63.4d6b2","type":"ui_gauge","z":"514120af.ffdfa8","name":"Pultsazioak Gorria","group":"624a6cb0.237444","order":4,"width":"4","height":"4","gtype":"gage","title":"Argi Gorria","label":"Pultsazioak","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"6000","x":630,"y":380,"wires":[]},{"id":"13e5b47b.1cc62c","type":"ui_gauge","z":"514120af.ffdfa8","name":"Pultsazioak Auto","group":"624a6cb0.237444","order":4,"width":"4","height":"4","gtype":"gage","title":"Automatiko Argia","label":"Pultsazioak","format":"{{value}}","min":0,"max":"10000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"2000","seg2":"6000","x":630,"y":540,"wires":[]},{"id":"3d60ba41.70d686","type":"function","z":"514120af.ffdfa8","name":"AxpiCounter","func":"var count=context.get('count') || 0;\n\nif (msg.payload===true) {\n    count +=1;\n    context.set('count',count);\n}\n\nmsg.payload=count;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":200,"wires":[["2713e93d.77ce16"]]},{"id":"63693e3b.ccdf08","type":"function","z":"514120af.ffdfa8","name":"AxpiCounter","func":"var count=context.get('count') || 0;\n\nif (msg.payload===true) {\n    count +=1;\n    context.set('count',count);\n}\n\nmsg.payload=count;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["e79e9a63.4d6b2"]]},{"id":"47c98f54.6746b8","type":"function","z":"514120af.ffdfa8","name":"AxpiCounter","func":"var count=context.get('count') || 0;\n\nif (msg.payload===true) {\n    count +=1;\n    context.set('count',count);\n}\n\nmsg.payload=count;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":540,"wires":[["13e5b47b.1cc62c"]]},{"id":"90e7ac22.b1e888","type":"s7 out","z":"c9dc93b9.315938","endpoint":"307b1c6a.3d959c","variable":"M51   NodeRed Esku/Auto","name":"M51 NodeRed Esku/Auto","x":570,"y":220,"wires":[]},{"id":"39b5845.d0abd7c","type":"s7 out","z":"c9dc93b9.315938","endpoint":"307b1c6a.3d959c","variable":"M52   NodeRed Emergentzia","name":"M52 NodeRed Emergentzia","x":580,"y":300,"wires":[]},{"id":"d38f60e4.d4f3c","type":"ui_switch","z":"c9dc93b9.315938","name":"","label":"Esku/Auto","tooltip":"","group":"e24cc1e4.7b1f1","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":220,"wires":[["90e7ac22.b1e888"]]},{"id":"9ac0cd05.1184b","type":"ui_switch","z":"c9dc93b9.315938","name":"","label":"Emergentzia","tooltip":"","group":"e24cc1e4.7b1f1","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":150,"y":300,"wires":[["39b5845.d0abd7c"]]},{"id":"b45985b7.244e58","type":"OPCUA-IIoT-Server","z":"4239f125.9b48f8","port":"55488","endpoint":"","acceptExternalCommands":true,"maxAllowedSessionNumber":"","maxConnectionsPerEndpoint":"","maxAllowedSubscriptionNumber":"","alternateHostname":"","name":"OPCUA Zerbitzailea","showStatusActivities":false,"showErrors":false,"asoDemo":false,"allowAnonymous":true,"individualCerts":false,"isAuditing":false,"serverDiscovery":true,"users":[],"xmlsets":[],"publicCertificateFile":"","privateCertificateFile":"","registerServerMethod":"1","discoveryServerEndpointUrl":"","capabilitiesForMDNS":"","maxNodesPerRead":"","maxNodesPerBrowse":"","delayToClose":"","x":1110,"y":420,"wires":[[]]},{"id":"cd812c5b.d9449","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=LOGO_INPUTak","browsename":"LOGO INPUTak","displayname":"LOGO INPUTak","objecttype":"FolderType","datatype":"","value":"","referenceNodeId":"ns=0;i=85","referencetype":"Organizes","name":"LOGO INPUTen KARPETA ","x":520,"y":60,"wires":[["86ee951a.c1b588"]]},{"id":"207e914d.361896","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":true,"startDelay":"","name":"","addressSpaceItems":[],"x":310,"y":60,"wires":[["cd812c5b.d9449"]]},{"id":"fcef659d.4f4aa8","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=I2_S3Beltza","browsename":"I2_S3Beltza","displayname":"I2_S3Beltza","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_INPUTak","referencetype":"Organizes","name":"I2 S3 Beltza","x":530,"y":160,"wires":[["86ee951a.c1b588"]]},{"id":"e36caafa.cbea28","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":160,"wires":[["fcef659d.4f4aa8"]]},{"id":"86ee951a.c1b588","type":"function","z":"4239f125.9b48f8","name":"thru","func":"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":160,"wires":[["b45985b7.244e58"]]},{"id":"a6a1ffe3.54aae","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=I3_S4Hautatzailea","browsename":"I3_S4Hautatzailea","displayname":"I3_S4Hautatzailea","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_INPUTak","referencetype":"Organizes","name":"I3 S4 Hautatzailea","x":550,"y":200,"wires":[["86ee951a.c1b588"]]},{"id":"36967b9d.993fac","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":200,"wires":[["a6a1ffe3.54aae"]]},{"id":"76457b10.f32d3c","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=I4_S5Emergentzia","browsename":"I4_S5Emergentzia","displayname":"I4_S5Emergentzia","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_INPUTak","referencetype":"Organizes","name":"I4 S5 Emergentzia","x":550,"y":240,"wires":[["86ee951a.c1b588"]]},{"id":"7d83598f.e27228","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":240,"wires":[["76457b10.f32d3c"]]},{"id":"7efee57b.f673bc","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=I5_S2Gorria","browsename":"I5_S2Gorria","displayname":"I5_S2Gorria","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_INPUTak","referencetype":"Organizes","name":"I5 S2 Gorria","x":530,"y":280,"wires":[["86ee951a.c1b588"]]},{"id":"3df68b66.67efa4","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":280,"wires":[["7efee57b.f673bc"]]},{"id":"88abd88f.7df298","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=I1_S1Berdea","browsename":"I1_S1Berdea","displayname":"I1_S1Berdea","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_INPUTak","referencetype":"Organizes","name":"I1 S1 Berdea","x":530,"y":120,"wires":[["86ee951a.c1b588"]]},{"id":"967c9b10.7739b8","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":120,"wires":[["88abd88f.7df298"]]},{"id":"eba320af.fd7068","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=LOGO_OUTPUTak","browsename":"LOGO OUTPUTak","displayname":"LOGO OUTPUTak","objecttype":"FolderType","datatype":"","value":"","referenceNodeId":"ns=0;i=85","referencetype":"Organizes","name":"LOGO OUTPUTen KARPETA ","x":520,"y":360,"wires":[["423b2a69.2b3084"]]},{"id":"3027a944.6c1706","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":true,"startDelay":"","name":"","addressSpaceItems":[],"x":310,"y":360,"wires":[["eba320af.fd7068"]]},{"id":"a285ee15.f26698","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":460,"wires":[["6a50ca1a.6f01c4"]]},{"id":"423b2a69.2b3084","type":"function","z":"4239f125.9b48f8","name":"thru","func":"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":420,"wires":[["b45985b7.244e58"]]},{"id":"8928b94e.ee3","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":500,"wires":[["bde6add8.a739b8"]]},{"id":"dfe23cd9.02ecc","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=Q4_L1Berdea","browsename":"Q4 L1 Berdea","displayname":"Q4 L1 Berdea","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_OUTPUTak","referencetype":"Organizes","name":"Q4 L1 Berdea","x":540,"y":420,"wires":[["423b2a69.2b3084"]]},{"id":"6a50ca1a.6f01c4","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=Q5_L2Gorria","browsename":"Q5 L2 Gorria","displayname":"Q5 L2 Gorria","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_OUTPUTak","referencetype":"Organizes","name":"Q5 L2 Gorria","x":530,"y":460,"wires":[["423b2a69.2b3084"]]},{"id":"bde6add8.a739b8","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=Q6_L3Automatikoa","browsename":"Q6 L3 Automatikoa","displayname":"Q6 L3 Automatikoa","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_OUTPUTak","referencetype":"Organizes","name":"Q6 L3 Automatikoa","x":550,"y":500,"wires":[["423b2a69.2b3084"]]},{"id":"13e6e2b1.a36815","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=LOGO_MARKAK","browsename":"LOGO MARKAK","displayname":"LOGO MARKAK","objecttype":"FolderType","datatype":"","value":"","referenceNodeId":"ns=0;i=85","referencetype":"Organizes","name":"LOGO MARKEN KARPETA ","x":520,"y":580,"wires":[["679d0a6d.5b9cbc"]]},{"id":"e3c88d95.32f428","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"","payloadType":"date","topic":"","repeat":"","crontab":"","once":true,"startDelay":"","name":"","addressSpaceItems":[],"x":310,"y":580,"wires":[["13e6e2b1.a36815"]]},{"id":"9eb871a.342941","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":680,"wires":[["e48bc3d6.5bfd6"]]},{"id":"679d0a6d.5b9cbc","type":"function","z":"4239f125.9b48f8","name":"thru","func":"\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":760,"wires":[["b45985b7.244e58"]]},{"id":"ae8773b0.01d5c","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":720,"wires":[["f83f69e1.3b9c3"]]},{"id":"91296c84.6179e","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":780,"wires":[["97f7649c.f161c"]]},{"id":"901e1d37.2e86e8","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":820,"wires":[["d13c6ac1.64b64"]]},{"id":"8f32150.fbc4de8","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=M1_Grafcet1Egoera","browsename":"M1 Grafcet 1 Egoera","displayname":"M1 Grafcet 1 Egoera","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_MARKAK","referencetype":"Organizes","name":"M1 Grafcet 1 Egoera","x":560,"y":640,"wires":[["679d0a6d.5b9cbc"]]},{"id":"e4809d8a.cc994","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":640,"wires":[["8f32150.fbc4de8"]]},{"id":"e48bc3d6.5bfd6","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=M2_Grafcet2Egoera","browsename":"M2 Grafcet 2 Egoera","displayname":"M2 Grafcet 2 Egoera","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_MARKAK","referencetype":"Organizes","name":"M2 Grafcet 2 Egoera","x":560,"y":680,"wires":[["679d0a6d.5b9cbc"]]},{"id":"f83f69e1.3b9c3","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=M3_Grafcet3Egoera","browsename":"M3 Grafcet 3 Egoera","displayname":"M3 Grafcet 3 Egoera","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_MARKAK","referencetype":"Organizes","name":"M3 Grafcet 3 Egoera","x":560,"y":720,"wires":[["679d0a6d.5b9cbc"]]},{"id":"97f7649c.f161c","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=M20_Esku_Auto","browsename":"M20 Esku/Auto","displayname":"M20 Esku/Auto","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_MARKAK","referencetype":"Organizes","name":"M20 Esku/Auto","x":540,"y":780,"wires":[["679d0a6d.5b9cbc"]]},{"id":"d13c6ac1.64b64","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=M21_Emergentzia","browsename":"M21 Emergentzia","displayname":"M21 Emergentzia","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_MARKAK","referencetype":"Organizes","name":"M21 Emergentzia","x":550,"y":820,"wires":[["679d0a6d.5b9cbc"]]},{"id":"b7e957bb.6b4a3","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=M41_NRPultsagailua","browsename":"M41 NR Pultsagailua","displayname":"M41 NR Pultsagailua","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_MARKAK","referencetype":"Organizes","name":"M41 NR Pultsagailua","x":560,"y":880,"wires":[["679d0a6d.5b9cbc"]]},{"id":"d21fab6b.94e27","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=M51_NREsku_Auto","browsename":"M51 NR Esku/Auto","displayname":"M51 NR Esku/Auto","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_MARKAK","referencetype":"Organizes","name":"M51 NR Esku/Auto","x":550,"y":920,"wires":[["679d0a6d.5b9cbc"]]},{"id":"cf76eee.6bcd61","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=M52_NREmergentzia","browsename":"M52 NR Emergentzia","displayname":"M52 NR Emergentzia","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_MARKAK","referencetype":"Organizes","name":"M52 NR Emergentzia","x":560,"y":960,"wires":[["679d0a6d.5b9cbc"]]},{"id":"e93c40a3.0576b","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":880,"wires":[["b7e957bb.6b4a3"]]},{"id":"b359f503.016b5","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":920,"wires":[["d21fab6b.94e27"]]},{"id":"99e97b0e.36b828","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":960,"wires":[["cf76eee.6bcd61"]]},{"id":"8e0d0918.f7a0c8","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":420,"wires":[["dfe23cd9.02ecc"]]},{"id":"9b9506e3.6752e","type":"s7 in","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","mode":"single","variable":"I1    Pultsagailu Berdea","diff":true,"name":"","x":1000,"y":40,"wires":[["2057c2a7.a9522e"]]},{"id":"66a7c868.fc10f8","type":"s7 in","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","mode":"single","variable":"I2    Pultsagailu Beltza","diff":true,"name":"","x":990,"y":100,"wires":[["31539948.e4442e"]]},{"id":"1daa704d.6d8998","type":"s7 in","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","mode":"single","variable":"I3    Esku/Auto etengailua","diff":true,"name":"","x":1000,"y":160,"wires":[["a5de1d9b.0efe38"]]},{"id":"f1896898.a759f8","type":"s7 in","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","mode":"single","variable":"I4    Emergentzia Perretxikua","diff":true,"name":"","x":1010,"y":220,"wires":[["952bc410.c2df78"]]},{"id":"8c03016c.ed37b","type":"s7 in","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","mode":"single","variable":"I5    Pultsagailu Gorria NC ","diff":true,"name":"","x":1010,"y":280,"wires":[["5beeb45e.1cd74c"]]},{"id":"f583f09d.8335c8","type":"s7 in","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","mode":"single","variable":"Q5    Argi Berdea","diff":true,"name":"","x":980,"y":340,"wires":[["94c0fd98.551d4"]]},{"id":"a2279823.289dd","type":"s7 in","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","mode":"single","variable":"Q6    Argi Gorria","diff":true,"name":"","x":970,"y":400,"wires":[["77273d55.a0c19c"]]},{"id":"dbf218ef.cafc18","type":"s7 in","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","mode":"single","variable":"Q7    Automatiko Argia","diff":true,"name":"","x":990,"y":460,"wires":[["469ce623.5958e"]]},{"id":"27d46c9f.3f42c4","type":"s7 in","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","mode":"single","variable":"M1    GRAFCET 1. Egoera","diff":true,"name":"","x":1010,"y":520,"wires":[["a9f75c7.bf5a92"]]},{"id":"c1df644e.584888","type":"s7 in","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","mode":"single","variable":"M2   GRAFCET 2. Egoera ","diff":true,"name":"","x":1010,"y":580,"wires":[["48eef9c6.a8af4"]]},{"id":"ebd35338.c9f558","type":"s7 in","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","mode":"single","variable":"M3   GRAFCET 3. Egoera ","diff":true,"name":"","x":1010,"y":640,"wires":[["83669626.133a28"]]},{"id":"13dbe37.e15cf1d","type":"s7 in","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","mode":"single","variable":"M20    Esku/Auto","diff":true,"name":"","x":980,"y":700,"wires":[["21be1f22.bff238"]]},{"id":"795fd513.798424","type":"s7 in","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","mode":"single","variable":"M21    Emergentzia","diff":true,"name":"","x":980,"y":760,"wires":[["69529816.c3906"]]},{"id":"6f9ef6bc.b19f","type":"s7 in","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","mode":"single","variable":"M41    NodeRed Pultsagailua","diff":true,"name":"","x":1010,"y":820,"wires":[["dfb13162.3fef7"]]},{"id":"70712a1f.6332fc","type":"s7 in","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","mode":"single","variable":"M51   NodeRed Esku/Auto","diff":true,"name":"","x":1010,"y":880,"wires":[["ffc1b479.17f35"]]},{"id":"a346b884.0791d","type":"s7 in","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","mode":"single","variable":"M52   NodeRed Emergentzia","diff":true,"name":"","x":1020,"y":940,"wires":[["472359d.d1b0ea8"]]},{"id":"2057c2a7.a9522e","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"write","nodeId":"ns=1;s=I1_S1Berdea","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":1310,"y":40,"wires":[["bfd62e88.b2c9c"]]},{"id":"bfd62e88.b2c9c","type":"OPCUA-IIoT-Write","z":"b4f48751.cf3a3","connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1470,"y":40,"wires":[["cd83e8e4.88514"]]},{"id":"cd83e8e4.88514","type":"OPCUA-IIoT-Response","z":"b4f48751.cf3a3","name":"Konprobazioa","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1660,"y":40,"wires":[[]]},{"id":"31539948.e4442e","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"write","nodeId":"ns=1;s=I2_S3Beltza","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":1310,"y":100,"wires":[["140eae5d.96e512"]]},{"id":"140eae5d.96e512","type":"OPCUA-IIoT-Write","z":"b4f48751.cf3a3","connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1470,"y":100,"wires":[["8124e8f.fe65a18"]]},{"id":"8124e8f.fe65a18","type":"OPCUA-IIoT-Response","z":"b4f48751.cf3a3","name":"Konprobazioa","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1660,"y":100,"wires":[[]]},{"id":"a5de1d9b.0efe38","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"write","nodeId":"ns=1;s=I3_S4Hautatzailea","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":1310,"y":160,"wires":[["d6b63dfe.fc5c68"]]},{"id":"d6b63dfe.fc5c68","type":"OPCUA-IIoT-Write","z":"b4f48751.cf3a3","connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1470,"y":160,"wires":[["6cafe6e2.0a534"]]},{"id":"6cafe6e2.0a534","type":"OPCUA-IIoT-Response","z":"b4f48751.cf3a3","name":"Konprobazioa","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1660,"y":160,"wires":[[]]},{"id":"952bc410.c2df78","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"write","nodeId":"ns=1;s=I4_S5Emergentzia","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":1310,"y":220,"wires":[["7872f3f8.e756fc"]]},{"id":"7872f3f8.e756fc","type":"OPCUA-IIoT-Write","z":"b4f48751.cf3a3","connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1470,"y":220,"wires":[["d9513f20.3130f8"]]},{"id":"d9513f20.3130f8","type":"OPCUA-IIoT-Response","z":"b4f48751.cf3a3","name":"Konprobazioa","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1660,"y":220,"wires":[[]]},{"id":"5beeb45e.1cd74c","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"write","nodeId":"ns=1;s=I5_S2Gorria","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":1310,"y":280,"wires":[["f0179e00.b5dab8"]]},{"id":"f0179e00.b5dab8","type":"OPCUA-IIoT-Write","z":"b4f48751.cf3a3","connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1470,"y":280,"wires":[["82beba79.890fc8"]]},{"id":"82beba79.890fc8","type":"OPCUA-IIoT-Response","z":"b4f48751.cf3a3","name":"Konprobazioa","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1660,"y":280,"wires":[[]]},{"id":"94c0fd98.551d4","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"write","nodeId":"ns=1;s=Q4_L1Berdea","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":1310,"y":340,"wires":[["bb25079a.23462"]]},{"id":"bb25079a.23462","type":"OPCUA-IIoT-Write","z":"b4f48751.cf3a3","connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1470,"y":340,"wires":[["f4044116.3068"]]},{"id":"f4044116.3068","type":"OPCUA-IIoT-Response","z":"b4f48751.cf3a3","name":"Konprobazioa","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1660,"y":340,"wires":[[]]},{"id":"77273d55.a0c19c","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"write","nodeId":"ns=1;s=Q5_L2Gorria","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":1310,"y":400,"wires":[["fb0e62aa.f412d8"]]},{"id":"fb0e62aa.f412d8","type":"OPCUA-IIoT-Write","z":"b4f48751.cf3a3","connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1470,"y":400,"wires":[["ed32ed29.cd2"]]},{"id":"ed32ed29.cd2","type":"OPCUA-IIoT-Response","z":"b4f48751.cf3a3","name":"Konprobazioa","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1660,"y":400,"wires":[[]]},{"id":"469ce623.5958e","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"write","nodeId":"ns=1;s=Q6_L3Automatikoa","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":1310,"y":460,"wires":[["48ea23b9.c5e64c"]]},{"id":"48ea23b9.c5e64c","type":"OPCUA-IIoT-Write","z":"b4f48751.cf3a3","connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1470,"y":460,"wires":[["6feace2e.a3a4f8"]]},{"id":"6feace2e.a3a4f8","type":"OPCUA-IIoT-Response","z":"b4f48751.cf3a3","name":"Konprobazioa","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1660,"y":460,"wires":[[]]},{"id":"a9f75c7.bf5a92","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"write","nodeId":"ns=1;s=M1_Grafcet1Egoera","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":1309.75,"y":522.75,"wires":[["b447e51e.08fd5"]]},{"id":"b447e51e.08fd5","type":"OPCUA-IIoT-Write","z":"b4f48751.cf3a3","connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1469.75,"y":522.75,"wires":[["8aea5e00.385208"]]},{"id":"8aea5e00.385208","type":"OPCUA-IIoT-Response","z":"b4f48751.cf3a3","name":"Konprobazioa","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1659.75,"y":522.75,"wires":[[]]},{"id":"48eef9c6.a8af4","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"write","nodeId":"ns=1;s=M2_Grafcet2Egoera","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":1310,"y":580,"wires":[["bd479c1a.cff72"]]},{"id":"bd479c1a.cff72","type":"OPCUA-IIoT-Write","z":"b4f48751.cf3a3","connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1470,"y":580,"wires":[["92c0d94c.35c2a"]]},{"id":"92c0d94c.35c2a","type":"OPCUA-IIoT-Response","z":"b4f48751.cf3a3","name":"Konprobazioa","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1660,"y":580,"wires":[[]]},{"id":"83669626.133a28","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"write","nodeId":"ns=1;s=M3_Grafcet3Egoera","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":1310,"y":640,"wires":[["1977df13.18c1e1"]]},{"id":"1977df13.18c1e1","type":"OPCUA-IIoT-Write","z":"b4f48751.cf3a3","connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1470,"y":640,"wires":[["c1ce875d.20d0c"]]},{"id":"c1ce875d.20d0c","type":"OPCUA-IIoT-Response","z":"b4f48751.cf3a3","name":"Konprobazioa","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1660,"y":640,"wires":[[]]},{"id":"21be1f22.bff238","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"write","nodeId":"ns=1;s=M20_Esku_Auto","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":1310,"y":700,"wires":[["742cdc13.08c6ec"]]},{"id":"742cdc13.08c6ec","type":"OPCUA-IIoT-Write","z":"b4f48751.cf3a3","connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1470,"y":700,"wires":[["e11168be.5de278"]]},{"id":"e11168be.5de278","type":"OPCUA-IIoT-Response","z":"b4f48751.cf3a3","name":"Konprobazioa","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1660,"y":700,"wires":[[]]},{"id":"69529816.c3906","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"write","nodeId":"ns=1;s=M21_Emergentzia","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":1310,"y":760,"wires":[["e7b77b80.643ea8"]]},{"id":"e7b77b80.643ea8","type":"OPCUA-IIoT-Write","z":"b4f48751.cf3a3","connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1470,"y":760,"wires":[["86b89d1e.6ecec"]]},{"id":"86b89d1e.6ecec","type":"OPCUA-IIoT-Response","z":"b4f48751.cf3a3","name":"Konprobazioa","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1660,"y":760,"wires":[[]]},{"id":"dfb13162.3fef7","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"write","nodeId":"ns=1;s=M41_NRPultsagailua","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":1310,"y":820,"wires":[["b77ef16.079819"]]},{"id":"b77ef16.079819","type":"OPCUA-IIoT-Write","z":"b4f48751.cf3a3","connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1470,"y":820,"wires":[["7e287709.1a4a78"]]},{"id":"7e287709.1a4a78","type":"OPCUA-IIoT-Response","z":"b4f48751.cf3a3","name":"Konprobazioa","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1660,"y":820,"wires":[[]]},{"id":"ffc1b479.17f35","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"write","nodeId":"ns=1;s=M51_NREsku_Auto","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":1310,"y":880,"wires":[["fba4cc62.5b1398"]]},{"id":"fba4cc62.5b1398","type":"OPCUA-IIoT-Write","z":"b4f48751.cf3a3","connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1470,"y":880,"wires":[["bc0fcefb.7119d8"]]},{"id":"bc0fcefb.7119d8","type":"OPCUA-IIoT-Response","z":"b4f48751.cf3a3","name":"Konprobazioa","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1660,"y":880,"wires":[[]]},{"id":"472359d.d1b0ea8","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"write","nodeId":"ns=1;s=M52_NREmergentzia","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":1310,"y":940,"wires":[["ca4b1b8b.88f9b"]]},{"id":"ca4b1b8b.88f9b","type":"OPCUA-IIoT-Write","z":"b4f48751.cf3a3","connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"x":1470,"y":940,"wires":[["9654396e.f85c48"]]},{"id":"9654396e.f85c48","type":"OPCUA-IIoT-Response","z":"b4f48751.cf3a3","name":"Konprobazioa","compressStructure":true,"showStatusActivities":false,"showErrors":false,"activateUnsetFilter":false,"activateFilters":false,"negateFilter":false,"filters":[],"x":1660,"y":940,"wires":[[]]},{"id":"235812fe.71e0be","type":"OPCUA-IIoT-Server-ASO","z":"4239f125.9b48f8","nodeId":"ns=1;s=M60_OPCUA","browsename":"M60 OPCUA","displayname":"M60 OPCUA","objecttype":"BaseDataVariableType","datatype":"Boolean","value":"","referenceNodeId":"ns=1;s=LOGO_MARKAK","referencetype":"Organizes","name":"M60 OPCUA","x":530,"y":1040,"wires":[["679d0a6d.5b9cbc"]]},{"id":"55d957f5.a05288","type":"OPCUA-IIoT-Inject","z":"4239f125.9b48f8","injectType":"inject","payload":"65000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"15","name":"","addressSpaceItems":[],"x":310,"y":1040,"wires":[["235812fe.71e0be"]]},{"id":"d5fa8304.79f968","type":"s7 out","z":"b4f48751.cf3a3","endpoint":"307b1c6a.3d959c","variable":"M41    NodeRed Pultsagailua","name":"","x":760,"y":820,"wires":[]},{"id":"2460a0b.441b46","type":"OPCUA-IIoT-Node","z":"b4f48751.cf3a3","injectType":"read","nodeId":"ns=1;s=M41_NRPultsagailua","datatype":"Boolean","value":"","name":"","topic":"","showErrors":false,"x":270,"y":820,"wires":[["648f8b2e.f9c8d4"]]},{"id":"648f8b2e.f9c8d4","type":"OPCUA-IIoT-Read","z":"b4f48751.cf3a3","attributeId":"13","maxAge":1,"depth":1,"connector":"a1f35911.3484d","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"historyDays":1,"x":410,"y":820,"wires":[["510fca87.589efc"]]},{"id":"510fca87.589efc","type":"function","z":"b4f48751.cf3a3","name":"Filter","func":"msg.payload=msg.payload[0].value.value\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":820,"wires":[["d5fa8304.79f968"]]},{"id":"6e749c7a.b52bbc","type":"inject","z":"b4f48751.cf3a3","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":820,"wires":[["2460a0b.441b46"]]}]
