05.opc UA-Dashboard/opcUA-Dashboard.json
[{"id":"546ebaca.b6e144","type":"subflow","name":"timeseries2csv","info":"","category":"","in":[{"x":120,"y":100,"wires":[{"id":"b9d81258.99d23"}]}],"out":[],"env":[{"name":"PATH","type":"str","value":"/data/values.csv","ui":{"icon":"font-awesome/fa-folder-open-o","label":{"en-US":"PATH"},"type":"input","opts":{"types":["str"]}}},{"name":"VARS","type":"json","value":"[\"Example\"]","ui":{"icon":"font-awesome/fa-align-justify","label":{"en-US":"VARS"},"type":"input","opts":{"types":["json"]}}},{"name":"DATETIME_FORMAT","type":"str","value":"2","ui":{"icon":"font-awesome/fa-clock-o","label":{"en-US":"TIME FORMAT"},"type":"select","opts":{"opts":[{"l":{"en-US":"Epoch"},"v":"1"},{"l":{"en-US":"String - \".\""},"v":"2"},{"l":{"en-US":"String - \",\""},"v":"3"}]}}},{"name":"DELIMITER","type":"str","value":",","ui":{"icon":"font-awesome/fa-arrows-h","label":{"en-US":"DELIMITER"},"type":"select","opts":{"opts":[{"l":{"en-US":","},"v":","},{"l":{"en-US":";"},"v":";"}]}}},{"name":"DATETIME_NAME","type":"str","value":"Time","ui":{"icon":"font-awesome/fa-clock-o","label":{"en-US":"TIME NAME"},"type":"input","opts":{"types":["str"]}}}],"color":"#DDAA99"},{"id":"eb5170e3.02d41","type":"file in","z":"546ebaca.b6e144","name":"Read file","filename":"${PATH}","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":460,"y":280,"wires":[["774dcca5.3128a4"]]},{"id":"774dcca5.3128a4","type":"function","z":"546ebaca.b6e144","name":"Check magnitudes","func":"lines = msg.payload.split(\"\\n\");\nlength = lines.length;\n\nmagnitudes = env.get(\"VARS\");\nmagnitudes.splice(0, 0, env.get(\"DATETIME_NAME\"));\n\nif (length == 1) {\n    msg.payload = magnitudes;\n    node.error(\"File is empty!\");\n    return msg;\n}\n\nfirst_line = lines[0];\nvars = first_line.split(env.get(\"DELIMITER\"));\n\nok = true\n\nvars.forEach((element, index, array) => {\n    ok = ok & magnitudes.includes(element);\n});\n\nmagnitudes.forEach((element, index, array) => {\n    ok = ok & vars.includes(element);\n});\n\nif (!ok) {\n    node.error(\"File not ok!\");\n    return null;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["9eb8df8c.5832d"]]},{"id":"3d36f743.16d328","type":"catch","z":"546ebaca.b6e144","name":"File error","scope":["eb5170e3.02d41"],"uncaught":false,"x":460,"y":380,"wires":[["21057e48.53d372"]]},{"id":"c7444b1a.b76748","type":"inject","z":"546ebaca.b6e144","name":"","repeat":"","crontab":"","once":true,"topic":"","payload":"Started!","payloadType":"str","x":280,"y":280,"wires":[["eb5170e3.02d41"]]},{"id":"9c07cccd.4e136","type":"file","z":"546ebaca.b6e144","name":"Write file","filename":"${PATH}","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":1180,"y":220,"wires":[[]]},{"id":"9eb8df8c.5832d","type":"function","z":"546ebaca.b6e144","name":"SimplifyArray","func":"array = msg.payload;\n\nstr = array.join(env.get(\"DELIMITER\"));\n\nif (str === \"\") {\n    node.error(\"String is empty!\");\n    return null;\n}\n\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":320,"wires":[["9c07cccd.4e136"]]},{"id":"21057e48.53d372","type":"function","z":"546ebaca.b6e144","name":"Check error","func":"magnitudes = env.get(\"VARS\")\nmagnitudes.splice(0, 0, env.get(\"DATETIME_NAME\"));\n\nmessage = msg.error.message;\n\nif (message.includes(\"ENOENT\")) {\n    node.warn(\"File did not exist, creating...\");\n    msg.payload = magnitudes;\n    return msg;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":380,"wires":[["9eb8df8c.5832d"]]},{"id":"c0a44efe.72bd7","type":"function","z":"546ebaca.b6e144","name":"Delete non present","func":"magnitudes = env.get(\"VARS\");\n\nvalues = msg.payload;\n\nmagnitudes.forEach((element, index, array) => {\n    var pos = values.indexOf(element);\n    if (pos !== -1) {\n        values[pos] = \"\";\n    }\n});\n\nmsg.payload = values;\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":100,"wires":[["5555c36a.93b09c"]]},{"id":"5555c36a.93b09c","type":"function","z":"546ebaca.b6e144","name":"SimplifyArray","func":"array = msg.payload;\n\nstr = array.join(env.get(\"DELIMITER\"));\n\nif (str === \"\") {\n    node.error(\"String is empty!\");\n    return null;\n}\n\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":100,"wires":[["9c07cccd.4e136"]]},{"id":"b9d81258.99d23","type":"function","z":"546ebaca.b6e144","name":"Process info","func":"magnitudes = env.get(\"VARS\");\nmagnitudes.splice(0, 0, env.get(\"DATETIME_NAME\"));\n\nvalues = magnitudes;\n\ndata = msg.payload;\n\nfor (var magnitude of Object.keys(data)) {\n    var pos = magnitudes.indexOf(magnitude);\n    if (pos !== -1) {\n        values[pos] = data[magnitude];\n    }\n}\n\nmsg.payload = values;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["4f6be548.7d184c"]]},{"id":"4f6be548.7d184c","type":"function","z":"546ebaca.b6e144","name":"Datetime","func":"values = msg.payload;\n\n// DATETIME_FORMAT\n// 0: epoch\n// 1: string - \".\"\n// 2: string - \",\"\ndatetime_format = env.get(\"DATETIME_FORMAT\");\n\nif (datetime_format == 1) {\n    datetime_value = Date.now();\n} else if (datetime_format == 2) {\n    d = new Date();\n    datetime_value = (d.getFullYear() + '-' + ('00' + (d.getMonth()+1)).slice(-2) + '-' + ('00' + d.getDate()).slice(-2) + ' ' + ('00' + d.getHours()).slice(-2) + ':' + ('00' + d.getMinutes()).slice(-2) + ':' + ('00' + d.getSeconds()).slice(-2) + '.' + ('000' + d.getMilliseconds()).slice(-3));\n} else if (datetime_format == 3) {\n    d = new Date();\n    datetime_value = (d.getFullYear() + '-' + ('00' + (d.getMonth()+1)).slice(-2) + '-' + ('00' + d.getDate()).slice(-2) + ' ' + ('00' + d.getHours()).slice(-2) + ':' + ('00' + d.getMinutes()).slice(-2) + ':' + ('00' + d.getSeconds()).slice(-2) + ',' + ('000' + d.getMilliseconds()).slice(-3));\n} else {\n    node.error(\"Invalid datetime format\");\n    return null;\n}\n\nvar pos = values.indexOf(env.get(\"DATETIME_NAME\"));\nif (pos !== -1) {\n    values[pos] = datetime_value;\n} else {\n    node.error(\"Datetime column not present\");\n    return null;\n}\n    \nmsg.payload = values;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["c0a44efe.72bd7"]]},{"id":"7943a478.b8bb5c","type":"subflow","name":"opcua-handler (2)","info":"","category":"","in":[{"x":280,"y":600,"wires":[{"id":"952c4628.5d4888"}]}],"out":[{"x":1100,"y":420,"wires":[{"id":"1496a835.eb4898","port":0}]}],"env":[{"name":"SERVER_HOST","type":"str","value":"localhost","ui":{"icon":"font-awesome/fa-address-card-o","label":{"en-US":"Server Host"},"type":"input","opts":{"types":["str"]}}},{"name":"SERVER_PORT","type":"num","value":"4840","ui":{"icon":"font-awesome/fa-hashtag","label":{"en-US":"Server Port"},"type":"input","opts":{"types":["num"]}}},{"name":"SEC_POLICY","type":"str","value":"None","ui":{"icon":"font-awesome/fa-user-secret","label":{"en-US":"Security Policy"},"type":"select","opts":{"opts":[{"l":{"en-US":"None"},"v":"None"},{"l":{"en-US":"Basic128"},"v":"Basic128"},{"l":{"en-US":"Basic128Rsa15"},"v":"Basic128Rsa15"},{"l":{"en-US":"Basic192"},"v":"Basic192"},{"l":{"en-US":"Basic192Rsa15"},"v":"Basic192Rsa15"},{"l":{"en-US":"Basic256"},"v":"Basic256"},{"l":{"en-US":"Basic256Rsa15"},"v":"Basic256Rsa15"},{"l":{"en-US":"Basic256Sha256"},"v":"Basic256Sha256"}]}}},{"name":"SEC_MODE","type":"str","value":"NONE","ui":{"icon":"font-awesome/fa-user-secret","label":{"en-US":"Security Mode"},"type":"select","opts":{"opts":[{"l":{"en-US":"None"},"v":"NONE"},{"l":{"en-US":"Sign"},"v":"SIGN"},{"l":{"en-US":"Sign&Encrypt"},"v":"SIGNANDENCRYPT"}]}}},{"name":"PUB_INTERVAL","type":"num","value":"1000","ui":{"icon":"font-awesome/fa-upload","label":{"en-US":"Publish Interval"},"type":"input","opts":{"types":["num"]}}},{"name":"REFRESH_INTERVAL","type":"num","value":"500","ui":{"icon":"font-awesome/fa-refresh","label":{"en-US":"Refresh Interval"},"type":"input","opts":{"types":["num"]}}},{"name":"NODES","type":"json","value":"[{\"name\":\"Example\",\"nodeId\":\"ns=2;s=example\",\"datatypeName\":\"Double\"},{\"name\":\"Example2\",\"nodeId\":\"ns=2;s=example2\",\"datatypeName\":\"Boolean\"}]","ui":{"icon":"font-awesome/fa-id-badge","label":{"en-US":"Nodes"},"type":"input","opts":{"types":["json"]}}}],"color":"#DDAA99","status":{"x":1200,"y":160,"wires":[{"id":"68e2befa.8c26","port":0}]}},{"id":"12c3ed4d.3f7003","type":"status","z":"7943a478.b8bb5c","name":"Listener status","scope":["2c774e17.128072"],"x":440,"y":260,"wires":[["fc3792e6.74dde"]]},{"id":"fc3792e6.74dde","type":"function","z":"7943a478.b8bb5c","name":"Listener status checker","func":"status = msg.status;\n\nif (status.text == \"active\") {\n    node.debug(\"Client connected to server\");\n    return [msg, msg];\n} else if (status.text == \"connecting\") {\n    node.debug(\"Client disconnected from server\");\n    return [null, msg];\n} else if (status.text.includes(\"listening\")) {\n    node.debug(\"Server is listening\");\n    return [null, msg];\n} else {\n    node.warn(status.text);\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":410,"y":340,"wires":[["f2ded238.62d6d"],["8ef0bafb.4d6688"]]},{"id":"f2ded238.62d6d","type":"function","z":"7943a478.b8bb5c","name":"Inject OPC UA","func":"var publishInterval = env.get(\"PUB_INTERVAL\") || 1000;\nvar refreshInterval = env.get(\"REFRESH_INTERVAL\") || 1000;\nvar queueSize = Math.ceil(publishInterval/refreshInterval);\nvar items = env.get(\"NODES\") || [];\n\nmsg.topic = \"\";\nmsg.nodetype = \"inject\";\nmsg.injectType = \"listen\";\nmsg.payload = {\n        \"interval\": refreshInterval,\n        \"queueSize\": queueSize,\n        \"options\": {\n            \"requestedPublishingInterval\": publishInterval,\n            \"requestedLifetimeCount\": 60,\n            \"requestedMaxKeepAliveCount\": 10,\n            \"maxNotificationsPerPublish\": 100,\n            \"publishingEnabled\": true,\n            \"priority\": 8\n        }\n};\nmsg.addressSpaceItems = items;\n\nsetTimeout(function(){\n    node.send(msg);\n}, 100);\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[["f870a23c.78e58","2c774e17.128072"]]},{"id":"1496a835.eb4898","type":"function","z":"7943a478.b8bb5c","name":"Process info","func":"// Check if addressSpaceItems exists\nif (!msg.hasOwnProperty(\"addressSpaceItems\")) {\n    node.warn(\"addressSpaceItems does not exist\");\n    return null;\n}\n\nitems = msg.addressSpaceItems;\n\n// Check addressSpaceItems lenght\nif (items.length != 1) {\n    node.warn(\"addressSpaceItems size is not 1\");\n    return null;\n}\n\nitem = items[0];\nnodeId = item.nodeId;\n\nvar nodeId2name = flow.get('nodeId2name') || false;\nif (nodeId2name === false) {\n    name = nodeId;\n} else {\n    name = nodeId2name[nodeId];\n}\n\n// Check the status of justValue\nif (msg[\"justValue\"] === true) {\n    value = msg.payload.value.value\n} else {\n    value = msg.payload.dataValue.value.value;\n}\n\ndata = {}\ndata[name] = value;\n\nmsg = {}\nmsg.payload = data;\n\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":420,"wires":[[]]},{"id":"f870a23c.78e58","type":"function","z":"7943a478.b8bb5c","name":"nodeId2name mapper","func":"// Check if addressSpaceItems exists\nif (!msg.hasOwnProperty(\"addressSpaceItems\")) {\n    node.warn(\"addressSpaceItems does not exist\");\n    return null;\n}\n\nitems = msg.addressSpaceItems;\n\nnodeId2name = {};\n\nitems.forEach(element => {\n    nodeId = element.nodeId;\n    name = element.name;\n    nodeId2name[nodeId] = name;\n});\n\nflow.set(\"nodeId2name\", nodeId2name);\n\nitems = msg.addressSpaceItems;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":500,"wires":[[]]},{"id":"1fdfddb.3505322","type":"function","z":"7943a478.b8bb5c","name":"Server data","func":"var host = env.get(\"SERVER_HOST\") || \"localhost\";\nvar port = env.get(\"SERVER_PORT\") || 4840;\nvar secPolicy = env.get(\"SEC_POLICY\") || \"None\";\nvar secMode = env.get(\"SEC_MODE\") || \"NONE\";\n\nvar endpoint = \"opc.tcp://\" + host + \":\" + port;\n\nmsg.payload = {\n    \"discoveryUrl\": null,\n    \"endpoint\": endpoint,\n    \"keepSessionAlive\": true,\n    \"securityPolicy\": secPolicy,\n    \"securityMode\": secMode,\n    \"name\": \"OPC UA Listener Server\",\n    \"showErrors\": true,\n    \"publicCertificateFile\": \"\",\n    \"privateKeyFile\": \"\",\n    \"defaultSecureTokenLifetime\": \"60000\",\n    \"endpointMustExist\": false,\n    \"autoSelectRightEndpoint\": true,\n    \"strategyMaxRetry\": 0,\n    \"strategyInitialDelay\": 0,\n    \"strategyMaxDelay\": 0,\n    \"strategyRandomisationFactor\": 0,\n    \"requestedSessionTimeout\": 0,\n    \"connectionStartDelay\": 0,\n    \"reconnectDelay\": 0\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":80,"wires":[["e65dbe3f.badc7","9b7c5671.42e1b8"]]},{"id":"e65dbe3f.badc7","type":"OPCUA-IIoT-Flex-Connector","z":"7943a478.b8bb5c","name":"","showStatusActivities":false,"showErrors":false,"connector":"8d708e02.edbbd","x":700,"y":80,"wires":[[]]},{"id":"c135984d.6a1ae8","type":"inject","z":"7943a478.b8bb5c","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":80,"wires":[["1fdfddb.3505322"]]},{"id":"2c774e17.128072","type":"OPCUA-IIoT-Listener","z":"7943a478.b8bb5c","connector":"8d708e02.edbbd","action":"subscribe","queueSize":"1","name":"","topic":"","justValue":true,"useGroupItems":false,"showStatusActivities":false,"showErrors":false,"x":680,"y":420,"wires":[["1496a835.eb4898"]]},{"id":"8f6466c4.be27f8","type":"status","z":"7943a478.b8bb5c","name":"Server Status","scope":["e65dbe3f.badc7"],"x":450,"y":160,"wires":[["9b7c5671.42e1b8"]]},{"id":"9b7c5671.42e1b8","type":"function","z":"7943a478.b8bb5c","name":"Server status checker","func":"var timer = context.get(\"timer\") || null;\nconst connectionTimeoutMessage = 5000;\n\nif (!msg.hasOwnProperty(\"status\")) {\n    // Inicialization message, timer must be started\n    msg = {};\n    tTimer = setTimeout(function() {\n                node.error(\"Connection to OPC UA Server cannot be stablished, check the configuration parameters\");\n                timer = null;\n                msg.status = {fill:\"red\",shape:\"dot\",text:\"Error (see debug message)\"};\n                node.send(msg);\n            }, connectionTimeoutMessage);\n    context.set(\"timer\", tTimer);\n    msg.status = {fill:\"yellow\",shape:\"dot\",text:\"Connecting...\"};\n    return msg;\n} else {\n    state = msg.status.text;\n    if (state == \"active\") {\n        // Connection done, stop the timer\n        node.debug(\"Connection to server stablished\");\n        if (timer !== null) {\n            clearTimeout(timer);\n            timer = null;\n            context.set(\"timer\", timer);\n        }\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":720,"y":160,"wires":[["82585dd.67c05a"]]},{"id":"68e2befa.8c26","type":"link in","z":"7943a478.b8bb5c","name":"toStatus","links":["8ef0bafb.4d6688","82585dd.67c05a"],"x":1115,"y":160,"wires":[[]]},{"id":"8ef0bafb.4d6688","type":"link out","z":"7943a478.b8bb5c","name":"","links":["68e2befa.8c26"],"x":635,"y":360,"wires":[]},{"id":"82585dd.67c05a","type":"link out","z":"7943a478.b8bb5c","name":"","links":["68e2befa.8c26"],"x":875,"y":160,"wires":[]},{"id":"952c4628.5d4888","type":"function","z":"7943a478.b8bb5c","name":"Process write info","func":"var items = env.get(\"NODES\") || [];\n\npayload = msg.payload;\naddressSpaceItems = []\nvaluesToWrite = []\n\nObject.keys(payload).forEach(function(key) {\n    uaNode = items.filter(node => node.name === key);\n    if (uaNode.length == 1) {\n        addressSpaceItems.push(uaNode[0]);\n        valuesToWrite.push(payload[key]);\n    } else {\n        node.error(\"NodeID not found for: \" + key);\n    }\n})\n\nmsg.topic = \"\"\nmsg.payload = \"\"\nmsg.nodetype = \"inject\"\nmsg.injectType = \"write\"\n\nmsg.addressSpaceItems = addressSpaceItems;\nmsg.valuesToWrite = valuesToWrite;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":600,"wires":[["5e60db87.744cd4"]]},{"id":"5e60db87.744cd4","type":"OPCUA-IIoT-Write","z":"7943a478.b8bb5c","connector":"8d708e02.edbbd","name":"","justValue":false,"showStatusActivities":false,"showErrors":true,"x":670,"y":600,"wires":[[]]},{"id":"8d708e02.edbbd","type":"OPCUA-IIoT-Connector","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"OPC UA Listener Server","showErrors":false,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"a735009c.22dba","type":"tab","label":"OPC UA Dashboard","disabled":false,"info":""},{"id":"39454be4.da2294","type":"ui_text","z":"a735009c.22dba","group":"ed29f3f8.8d9dd","order":2,"width":0,"height":0,"name":"","label":"Elektrobalbula","format":"{{msg.payload.BooleanData}}","layout":"row-spread","x":1080,"y":140,"wires":[]},{"id":"7a62503b.15853","type":"switch","z":"a735009c.22dba","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"BooleanData","vt":"str"},{"t":"hask","v":"TemperatureData","vt":"str"},{"t":"hask","v":"CyclicData","vt":"str"},{"t":"hask","v":"MirrorDataCopy","vt":"str"},{"t":"hask","v":"MirrorDataOriginal","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":490,"y":220,"wires":[["39454be4.da2294"],["ed5f7c47.f67e6"],["9b4db399.f2277"],["7e20f410.e5e0fc"],["ff3a3aa2.ef7008"]]},{"id":"2686483.9c553b8","type":"ui_chart","z":"a735009c.22dba","name":"","group":"ff23bd3e.f6bde","order":0,"width":0,"height":0,"label":"Abiadura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-110","ymax":"110","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1060,"y":320,"wires":[[]]},{"id":"55e3465c.7cba78","type":"ui_gauge","z":"a735009c.22dba","name":"","group":"ed29f3f8.8d9dd","order":3,"width":0,"height":0,"gtype":"gage","title":"Tenperatura","label":"ºC","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1070,"y":220,"wires":[]},{"id":"9b4db399.f2277","type":"change","z":"a735009c.22dba","name":"","rules":[{"t":"move","p":"payload.CyclicData","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":320,"wires":[["2686483.9c553b8","de4c03bf.bd24a"]]},{"id":"ed5f7c47.f67e6","type":"change","z":"a735009c.22dba","name":"","rules":[{"t":"move","p":"payload.TemperatureData","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":220,"wires":[["55e3465c.7cba78"]]},{"id":"7e20f410.e5e0fc","type":"change","z":"a735009c.22dba","name":"","rules":[{"t":"move","p":"payload.MirrorDataCopy","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":480,"wires":[["bbf70259.b0cc9","ef830478.2f7778"]]},{"id":"d06dcc86.53ad1","type":"ui_switch","z":"a735009c.22dba","name":"","label":"Martxan (RW)","tooltip":"","group":"29261c77.2f90f4","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":220,"y":460,"wires":[["687b128e.f16b5c"]]},{"id":"ff3a3aa2.ef7008","type":"change","z":"a735009c.22dba","name":"","rules":[{"t":"move","p":"payload.MirrorDataOriginal","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":380,"wires":[["d06dcc86.53ad1"]]},{"id":"687b128e.f16b5c","type":"function","z":"a735009c.22dba","name":"toMirrorDataOriginal","func":"msg.payload = { \"MirrorDataOriginal\": msg.payload };\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":540,"wires":[["57659806.cc02a8"]]},{"id":"bbf70259.b0cc9","type":"ui_led","z":"a735009c.22dba","order":1,"group":"ed29f3f8.8d9dd","width":0,"height":0,"label":"Martxan (R)","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":1050,"y":480,"wires":[]},{"id":"ef830478.2f7778","type":"rpi-gpio out","z":"a735009c.22dba","name":"","pin":"31","set":"","level":"0","freq":"","out":"out","x":1060,"y":540,"wires":[]},{"id":"57659806.cc02a8","type":"subflow:7943a478.b8bb5c","z":"a735009c.22dba","name":"","env":[{"name":"SERVER_HOST","value":"130.130.130.252","type":"str"},{"name":"NODES","value":"[{\"name\":\"BooleanData\",\"nodeId\":\"ns=2;i=2\",\"datatypeName\":\"Boolean\"},{\"name\":\"TemperatureData\",\"nodeId\":\"ns=2;i=5\",\"datatypeName\":\"Double\"},{\"name\":\"CyclicData\",\"nodeId\":\"ns=2;i=6\",\"datatypeName\":\"Double\"},{\"name\":\"MirrorDataOriginal\",\"nodeId\":\"ns=2;i=7\",\"datatypeName\":\"Boolean\"},{\"name\":\"MirrorDataCopy\",\"nodeId\":\"ns=2;i=8\",\"datatypeName\":\"Boolean\"}]","type":"json"}],"x":280,"y":220,"wires":[["7a62503b.15853"]]},{"id":"576c4c30.b9b854","type":"subflow:546ebaca.b6e144","z":"a735009c.22dba","name":"","env":[{"name":"PATH","value":"/data/abiadura.csv","type":"str"},{"name":"VARS","value":"[\"Abiadura\"]","type":"json"}],"x":1220,"y":400,"wires":[]},{"id":"de4c03bf.bd24a","type":"function","z":"a735009c.22dba","name":"abiadura2json","func":"var abiadura=msg.payload;\nmsg.payload={\"Abiadura\":abiadura};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":400,"wires":[["576c4c30.b9b854"]]},{"id":"49b9edb7.2a9524","type":"e-mail","z":"a735009c.22dba","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","x":1010,"y":760,"wires":[]},{"id":"c5835e57.a42ef","type":"function","z":"a735009c.22dba","name":"Setup mail content","func":"msg.topic = \"Abiadura datuak\";\n\nmsg.payload = \"Dear,<br><br>Gure makinaren abiadura datuak dira jarraian daudenak.<br>Datuak CSV formatuan gehituta dituzue.<br><br>Kind regards,<br>Your Node-Red flow\";\n\nmsg.attachments = [{\n    filename: 'abiadura.csv',\n    path: '/data/abiadura.csv',\n    content: msg.payload\n}];\n        \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":700,"wires":[["49b9edb7.2a9524","d08744c2.15dfb8"]]},{"id":"6f8b8768.700d28","type":"ui_button","z":"a735009c.22dba","name":"","group":"29261c77.2f90f4","order":1,"width":0,"height":0,"passthru":false,"label":"Emaila bidali (Abiadura.csv)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":340,"y":680,"wires":[["c5835e57.a42ef"]]},{"id":"d9636f50.dd763","type":"inject","z":"a735009c.22dba","name":"Emaila bidali (Abiadura.csv)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":760,"wires":[["c5835e57.a42ef"]]},{"id":"d08744c2.15dfb8","type":"debug","z":"a735009c.22dba","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1040,"y":680,"wires":[]},{"id":"ed29f3f8.8d9dd","type":"ui_group","name":"Sentsoreak","tab":"9dccb297.f524f","order":2,"disp":true,"width":"6","collapse":false},{"id":"ff23bd3e.f6bde","type":"ui_group","name":"Grafikak","tab":"9dccb297.f524f","order":3,"disp":true,"width":"16","collapse":false},{"id":"29261c77.2f90f4","type":"ui_group","name":"Kontrola","tab":"9dccb297.f524f","order":1,"disp":true,"width":"6","collapse":false},{"id":"9dccb297.f524f","type":"ui_tab","name":"PLC","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
